html, body{
	height: 100%;/*какая бы не была высота экрана будет занимать 100%*/
}
body{
	background: #fff;
	font-family: Ubuntu, sans-serif;
	font-size: 16px;
	color: #828282;
	font-weight:400;
	min-width: 320px;
}
a{
	font-family: Montserrat, sans-serif;
	font-weight: 700;
	font-style: 17px;
	color: #2cc7c1;
}
a:hover{
	color: #2cc7c1;
}
img{
	max-width: 100%;
	height: auto;
}
section{
	position: relative;
}
h2{
	font-family: Montserrat, sans-serif;
	font-style: 30px;	
	margin-top: 0;
	text-transform: uppercase;
}

/*===========HEADER==============================================*/
#header{
	background: url(../img/2.jpg) center no-repeat;
	background-size: cover;/*картинка подстраивается- растягивается*/
	/*height: 100vh;*//*Занять 100% текущей высоты, какая бы не была высота*/
	height: 100%;/*расчитывается высота хедера от высоты родителя боди*/
	min-height: 500px;/*Минимальная высота хедера, что бы при уминьшении не сьезжали кнопки */
}
.section-table{
	display: table;
	height: 100%;
	width: 100%;
}
.section-row{
	display: table-row;
}
.section-cell{
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}
.section-center{
	max-width: 550px;
	display: inline-block;
}
#header h1{
	font-family: Montserrat; sans-serif;
	font-size: 31px;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
}
#header p{
	color: #fff;
	font-size: 20px;
}
.btn{
	font-family: Montserrat; sans-serif;
	color: #fff;
	font-size: 17px;
	text-transform: uppercase;
	padding: 10px 20px;
	margin: 0 10px;
	border:none;
	color: #fff;
	transition: background .5s;
}
.btn-primary{
	background: #7ea4e8;
}
.btn-primary:hover{
	background: #6787c2;
}
.btn-default{
	background: #6a7079;
}
.btn-default:hover{
	background: #fff;
}
/*=========== / finish HEADER ==========================================*/

/*============ start speakers =======================*/
#speakers{
	padding: 90px 0;
	border-bottom:2px solid #f0f0f1 ;
}
#speakers h2{
	color: #828689;
}
.large{
	color: #828689;
	font-size: 22px;
	margin-bottom: 20px;
}
.section-tabs{
	border: 3px solid #ececec;
	border-radius: 2px;
}
.section-tabs .nav-tabs li:not(active){
	background: #ececec;
}
.section-tabs .nav-tabs.nav-justified li a, 
.section-tabs .nav-tabs.nav-justified li a.active a,
.section-tabs .nav-tabs.nav-justified li a.active a:focus,
.section-tabs .nav-tabs.nav-justified li a.active a:hover{
	border-radius: 0;
	border: none;
	font-family: Ubuntu, sans-serif;
	font-size: 18px;
	font-weight: 700;
	outline: 0;
}
.section-tabs .nav-tabs li.active a{
	color: #9097a1;
}
.nav-tabs li a{
	color: #abb1ba;
}
.section-tabs .tab-content{
	padding: 25px 20px;
}
.section-tabs .tab-content ul{
	padding-left: 10px;
}
.section-tabs .tab-content ul li{
	line-height: 30px;
}
.section-tabs .tab-content ul li i{
	font-size: 15px;
	color: #2cc7c1;
	margin-right: 10px;
}
.speakers-head{
	margin-top: 100px;
	margin-bottom: 60px;
}
.speakers-head h2{
	color:#6a7079;
}
.speakers h3{
	color: #777a7d;
	font-size: 20px;
	text-transform: uppercase;
}
/*.speakers-footer*/
.speakers-footer{
	margin-top: 70px;
}

.speakers-footer .large p{
	max-width: 100px;
}
/*Стили для санимациии пикеров*/
.item > div {/*Для дива в котором находится картинка*/
	position: relative;/*позиционируется картинка по размеру дива */
}
.front{/*Картинка*/
	position: absolute;
	width: 140px;
	height: 140px;
	cursor: pointer;
	/*opacity: 0.2;  скрывает
	for IE
	left: 50%;
	margin-left: -70%;*/
}
.back{/*item  twitter*/
	width: 140px;
	height: 140px;
	background: #6bd8d3;
	display: inline-block;/**/
	border-radius: 50%;
	opacity: 0;
}
.back i{
	line-height: 140px;/*то бы картинка твитера была по центру*/
	font-size: 30px;/*размер картинки твитера*/
	color: #fff;
}
.item > div:hover .front{
	opacity: .2;
}
.item > div:hover .back{
	opacity: 1;
}
.item > div:hover .back h3{
	color: #6bd8d3;
}
.speakers-footer{
	margin-top: 70px;
}
/*===========================start section events========================*/
#events{
	padding: 90px 0;
	
}
.link{
	text-transform: uppercase;
	font-weight: bold;
	font-size: 17px;
}
/*===========================finish section events========================*/
/*конец анимации для спикеров*/
/*============ finish speakers =======================*/
.time {
	background: #2cc7c1;
	color: #fff;
	font-size: 17px;
	font-weight: 500;
	padding: 5px;
	border-radius: 2px;
	margin-right: 25px;
}
.collapse-state{
	color:#2cc7c1;
}
.collapse-link{
	color: #747a84;
	font-size: 18px;
	font-weight: 500;
}
.collapse-link:hover{
	color: #747a84;
}
.collapse p{
	color: #999;
}
.tab-collapse{
	margin-bottom: 20px;
}
.row-item{
	margin-top: 100px;
}
/*====Form====*/
#form{
	padding: 90px 0;
	background: #f3f3f3;
}
.section-form{
	background: #fff;
	padding: 40px;
	border-radius: 2px;
	margin-bottom: 50px;
}
.section-form input,
.section-form select{
	height: 44px;
	background: #efefef;
	padding-right: 25px;
}

/*=====#Sponsors start======*/
#sponsors{
	width: 
	background:#fff;
	text-align:center;
	padding:60px 0;
}

/*=====#Sponsors finish======*/
/*=====#contacts start======*/
#contacts{
	background: #525b64;
	padding: 70px;
}
#contacts h3,
#contacts h4{
	color: #fff;
	margin: 0 0 25px;
}
#contacts h3 span{
	font-weight: 700;
}
#contacts h4{
	font-style: 20px;
	}
#contacts p{
	color: #cdd0d2;
}
#contacts a,
#contacts .contacts p{
	font-weight: 500;
	color:#2cc7c1 ;
}
#contacts .contacts p i{
	margin-right: 10px;
}
.social{
	margin-right: 20px;
}
/*=====#contacts finish======*/
/*=====##copy start======*/
#copy{
	background: #3f464c;	
	padding: 30px 0;
	text-align: center;
}
#copy p{
	margin: 0;
	color: #cacaca;
	font-size: 14px;

}
/*=====##copy finish======*/


/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	#speakers,
	#events,
	#form,
	#contacts,{
		padding: 20px 0;
	}
	.speakers-head,
	.speakers-footer{
		margin: 20px 0;
	}
	.row-item{
		margin-top: 30px;
	}
	.row-item-col{
		margin: 20px 0;
	}
	#sponsors{
		padding: 20px 0 0;
	}
	#sponsors img{
		margin-bottom: 20px;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	
}
@media only screen and (max-width : 600px) {
	#header{
		
		min-height: 300px;/*Минимальная высота хедера, что бы при уминьшении не сьезжали кнопки */
	}
	.section-center{
		max-width: 320px;
	}
	#header h1{
		font-size: 20px;
	}
	#header p{
		font-size: 16px;
	}
	.section-btn{
		font-size: 15px;
	}
}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}