html, body{
	height: 100%;/*какая бы не была высота экрана будет занимать 100%*/
}
body{
	background: #fff;
	font-family: Ubuntu, sans-serif;
	font-size: 16px;
	color: #828282;
	font-weight:400;
	min-width: 320px;
}
a{
	font-family: Montserrat, sans-serif;
	font-weight: 700;
	font-style: 17px;
	color: #2cc7c1;
}
a:hover{
	color: #2cc7c1;
}
img{
	max-width: 100%;
	height: auto;
}
section{
	position: relative;
}
h2{
	font-family: Montserrat, sans-serif;
	font-style: 30px;	
	margin-top: 0;
	text-transform: uppercase;
}

/*===========HEADER==============================================*/
#header{
	background: url(../img/2.jpg) center no-repeat;
	background-size: cover;/*картинка подстраивается- растягивается*/
	/*height: 100vh;*//*Занять 100% текущей высоты, какая бы не была высота*/
	height: 100%;/*расчитывается высота хедера от высоты родителя боди*/
	min-height: 500px;/*Минимальная высота хедера, что бы при уминьшении не сьезжали кнопки */
}
.section-table{
	display: table;
	height: 100%;
	width: 100%;
}
.section-row{
	display: table-row;
}
.section-cell{
display: table-cell;
text-align: center;
vertical-align: middle;
}
.section-center{
	max-width: 550px;
	display: inline-block;
}
#header h1{
	font-family: Montserrat; sans-serif;
	font-size: 31px;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
}
#header p{
	color: #fff;
	font-size: 20px;
}
.btn{
font-family: Montserrat; sans-serif;
color: #fff;
font-size: 17px;
text-transform: uppercase;
padding: 10px 20px;
margin: 0 10px;
border:none;
color: #fff;
transition: background .5s;
}
.btn-primary{
	background: #7ea4e8;
}
.btn-primary:hover{
	background: #6787c2;
}
.btn-default{
	background: #6a7079;
}
.btn-default:hover{
	background: #fff;
}
/*=========== / HEADER ==========================================*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	
}
@media only screen and (max-width : 600px) {
	#header{
	
	min-height: 300px;/*Минимальная высота хедера, что бы при уминьшении не сьезжали кнопки */
}
	.section-center{
		max-width: 320px;
	}
	#header h1{
	font-size: 20px;
}
#header p{
	font-size: 16px;
}
.section-btn{
	font-size: 15px;
}
}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}